<ion-view title="Tap Bus" id="page1" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <h1 id="tapBus-heading1" style="color:#000000;text-align:center;">L2 Norte</h1>
        <div id="tapBus-markdown1" style="color:#000000;text-align:center;">
            <p>Bus stop code 0001</p>
        </div>
        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <div class="button-bar">
            <button id="tapBus-button4" class="button button-positive  button-block">Cod</button>
            <button id="tapBus-button5" class="button button-positive  button-block">Bus</button>
            <button id="tapBus-button6" class="button button-positive  button-block">Time</button>
        </div>
        <ion-list>
            <ion-item>030 - Lago Norte - 1 min</ion-item>
            <ion-item>012 - W3 Norte - 5 min</ion-item>
            <ion-item>315 - Varjão - 30 min</ion-item>
            <ion-item>002 - L2 Norte - 40 min</ion-item>
            <ion-item>005 - X - 1 h</ion-item>
            <ion-item>400 - Y - 2 h</ion-item>
            <ion-item>400 - Y - 2 h</ion-item>
            <ion-item>500 - Z - 3 h</ion-item>
        </ion-list>
    </ion-content>
</ion-view>